extends base 
block content 
    header
        .navigation
            a(href='/')
                p.header__logo Library &#x1F4DA;
            form.form
                input#search.form__search(type='text' name='' placeholder='search by name,genre...')
                svg.icon.search__icon
                    use(xlink:href='/img/sprite.svg#icon-search')
            nav.navigation__nav
                ul.navigation__list
                    if user
                        li.navigation__item
                            a.navigation__link(href='/mybooks') My Books
                        li.navigation__item.profile
                            img.user__photo(src=`/img/user/${user.photo}` alt='user photo')
                            a.navigation__link(href='/')=user.name
                    else 
                        li.navigation__item
                            a.navigation__link(href='/login')  Login 
                        li.navigation__item
                            a.navigation__link(href='/signup') Sign up
    section.card__section
        h2.heading__secondary Books
        if reserves
            .cards.mybook__cards
                each reserve in reserves
                    .card1
                        img.card_img(src=`/img/book/${reserve.book.photo}` alt='book image')
                        h3=`${reserve.book.name}`
                        p=`Author/s : ${reserve.book.authors.join(', ')}`
                            br
                        p=`Genre : ${reserve.book.genre}`
                        p=`Total Fine : ${reserve.totalFine}`
                        -const date =new Date(new Date(reserve.expireDate).getTime())
                        p.card1__expire=`expires : ${date.toLocaleDateString()}`
